In [1]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [2]:
def serverConnect(host_name, user_name, password):
    connection = None
    try:
        connection = mysql.connector.connect(host= host_name, user= user_name, password= password)
        print('MySQL server connection successfull')
    except Error as err:
        print(f"Error: '{err}'")
    return connection

In [3]:
def executeQuery(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print('Query succesfully executed')
    except Error as err:
        print(f"Error: '{err}'")

In [4]:
def dbConnect(host_name, user_name, password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(host = host_name, 
                                            user= user_name, 
                                            passwd = password,
                                            database = db_name)
        print('Database connection Sucessful')
    except Error as err:
        print(f"Error: '{err}'")
    return connection

In [5]:
def readQuery(connection, query):
    cursor = connection.cursor()
    result = None
    
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        print('Successfully  retrieved results')
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [6]:
password = '14041995'
connection = serverConnect('127.0.0.1', 'root', password)

MySQL server connection successfull

In [ ]:
# db_query = "Create database Projects"  # query to create database
# executeQuery(connection, db_query)

In [8]:
# query = '''
#             Drop table products;
#           '''
# connection = dbConnect('localhost', 'root', password, 'projects')
# executeQuery(connection, query)

Database connection Sucessful
Query succesfully executed

In [9]:
query = '''Create table products(
                        SN int primary key,
                        product  varchar(20) not null,
                        serial_code varchar(13) not null,
                        mnfg_date date,
                        exp_date date,
                        price float,
                        validity varchar(20) not null);
           '''
connection = dbConnect('127.0.0.1', 'root', password, 'projects')
executeQuery(connection, query)

Database connection Sucessful
Query succesfully executed

In [10]:
# insert data into created table
query = """insert into products values
           (1, 'Faire', '109673462846', '2019-01-12', '2021-07-20', 12500, 'Code Unused'),
           (2, 'Faire', '119873452946', '2017-01-12', '2019-07-20', 12500, 'Code Used'),
           (3, 'Faire', '139773482866', '2019-12-12', '2021-12-20', 12500, 'Code Unused'),
           (4, 'Faire', '159633452846', '2017-05-12', '2019-12-20', 12500, 'Code Unused'),
           (5, 'Faire', '246576239745', '2017-05-12', '2019-12-20', 12500, 'Code Used'),
           (6, 'Faire', '129643566866', '2019-01-12', '2021-07-20', 12500, 'Code Used');
          """
executeQuery(connection, query)

Query succesfully executed

In [ ]:
# execute_query(connection, 'drop table products')

In [11]:
query = """
         select * from products;
        """
data = []
results = readQuery(connection, query)
for result in results:
    data.append(result)
columns = ['S/N', 'product', 'serial code','mnfg_data', 'exp_date', 'price', 'used']
df = pd.DataFrame(data, columns= columns)
df

Successfully  retrieved results

   S/N product   serial code   mnfg_data    exp_date    price         used
0    1   Faire  109673462846  2019-01-12  2021-07-20  12500.0  Code Unused
1    2   Faire  119873452946  2017-01-12  2019-07-20  12500.0    Code Used
2    3   Faire  139773482866  2019-12-12  2021-12-20  12500.0  Code Unused
3    4   Faire  159633452846  2017-05-12  2019-12-20  12500.0  Code Unused
4    5   Faire  246576239745  2017-05-12  2019-12-20  12500.0    Code Used
5    6   Faire  129643566866  2019-01-12  2021-07-20  12500.0    Code Used

In [78]:
str(109673462846) in df['serial code'].values

True

In [65]:
# query = """
#          select serial_code from products;
#         """
# results = readQuery(connection, query)
# for result in results:
#     print(result)

Successfully  retrieved results
('109673462846',)
('119873452946',)
('139773482866',)
('159633452846',)
('129643566866',)

In [66]:
# query = """
#          select exp_date from products;
#         """
# results = readQuery(connection, query)
# for result in results:
#     print(result)

Successfully  retrieved results
(datetime.date(2021, 7, 20),)
(datetime.date(2019, 7, 20),)
(datetime.date(2021, 12, 20),)
(datetime.date(2019, 12, 20),)
(datetime.date(2021, 7, 20),)

In [79]:
# update command

# insert data into created table
query = """
            update products
            set used = 'true'
            where SN =3
          """
execute_query(connection, query)

Query succesfully executed

In [ ]:
query = """
         select * from products;
        """
data = []
connection = dbConnect('localhost', 'root', '14041995', 'projects')
results = readQuery(connection, query)
for result in results:
    data.append(result)
columns = ['S/N', 'product', 'serial code','mnfg_data', 'exp_date', 'price', 'validity']
df = pd.DataFrame(data, columns= columns)
df

In [11]:
print(results)

[]